*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    overflow: hidden;
    background-color: rgb(123, 9, 169);
}

hr{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid black;
    margin: 1em 0; 
    padding: 0;
}

.caixa-chat{
    height: 95%;
    width: 95%;
    margin: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background-color: white;
    z-index: 0;

    border: 2px;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
}

.linha{
    border-left: 6px solid black;
    height: auto;
    min-height: 100% !important;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
    z-index: 9999;
    
}

.usuarios{
    background-color: aqua;
    height: auto;
    min-height: 100% !important;
    width: max-content;
    width: 20%;
}

.titulo h1{
    text-align: center;
    color: rgb(47, 0, 255);
    
}

.chat{
    height: 95%;
    width: 95%;
    left: 20%;
    top: 0px;
    height: auto;
    min-height: 100% !important;
    width: auto;
    min-width: 80% !important;
    position: absolute;
    padding: 5px;
    padding-left: 9px;
    background-color: blue;
    z-index: 1;
}

.mensagens{
    background-color: white;
    width: fit-content;
    height: 150px;
}
