*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Courier, serif;
}

/**Boot**/
html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    overflow: hidden;
    background-color: rgba(45,57,69,255);
}

hr{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid black;
    margin: 1em 0; 
    padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border: 10px solid #525252;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background: #6E566E;
}

::-webkit-scrollbar-track{
    background: #BBC1CD;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}


.clear{
    clear: both;
}

/**Formatação caixa chat+usuarios**/
.caixa-chat{
    height: 95%;
    width: 95%;
    margin: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background-color: rgba(70,88,102,255);
    z-index: 0;
    border: 1px;
    border-radius: 1px;
    border-style: solid;
    border-color: rgba(70,88,102,255);
}


/**Parte dos usuarios**/
.usuarios{
    background-color: rgba(92,111,126,255);
    height: auto;
    min-height: 100% !important;
    width: max-content;
    width: 20%;
    border: 1px;
    border-radius: 1px;
    border-style: solid;
    border-color: rgba(70,88,102,255);
    
}

.titulo h1{
    margin-top: 15px;
    text-align: center;
    color: black;
    
}

/**Parte do chat**/
.chat{
    height: 100%;
    
    left: 20%;
    top: 0px;
    height: auto;
    max-height: 500px;
    min-height: 90% !important;
    width: auto;
    min-width: 80% !important;
    position: absolute;
    padding: 5px;
    padding-left: 9px;
    background-color: rgba(187,193,205,255);
    z-index: 1;
    overflow-y: auto;
    
}


/**Caixa da mensagem**/
.chat-mensagens{
    background-color: rgba(187,193,205,255);
    z-index: 1;
}
.mensagens{
    position: relative;
    float: right;
    background-color: white;
    width: 80%;
    height: fit-content;
    border: 1px;
    border-color: rgb(182, 182, 182);
    border-radius: 15px 0px 15px 15px;
    text-indent: 50px;
    text-align: justify;
    margin-bottom: 7px;
    padding: 20px;
}

.user{
    float: right;
    color: rgba(92,111,126,255);
    position: relative;
    font-size: 20px;
    margin-bottom: 3px;
}

.hora{
    float: left;
    color: rgba(92,111,126,255);
    position: relative;
    text-indent: 0px;
    font-size: 17px;
    margin-top: 3px;
}

/**Caixa dos botões/form**/

.escrever{
    position: absolute;
    width: 79%;
    left: 20.4%;
    height: auto;
    max-height: 50px !important;
    bottom: 10px;
    background-color: white;
}

.escrever input[type="text"]{
    border: none;
    position: relative;
    float: left;
    left: 5px;
    width: 95%;
    height: 50px;
}

.botao {
    border: none;
    float: right;
    position: relative;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    width: 5%;
    height: 50px;
}

.fas fa-paper-plane{
    z-index: 9999;

}
